<!DOCTYPE html>
<html>
<head>
    <title>Chat about PDF</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>ChatPDF</h1>
    <form method="post">
        <textarea name="message" placeholder="Hi, how can I help? " required></textarea>
        <button type="submit">Send</button>
    </form>
    <div id="chatHistory">
        {% for item in history %}
            <div class="{{ item.role }}">
                <strong>{{ item.timestamp }} {{ item.role|capitalize }}:</strong>
                <p>{{ item.text }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="/">Upload Another PDF</a>
</body>
</html>
