<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">         
</head>
<body class="index-page">
    
 
    <nav class="nav">
        <div class="nav-logo"><p>ChatPDF</p> </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link">Research</a></li>
                <li><a href="#" class="link">Products</a></li>
                <li><a href="#" class="link">Safety</a></li>
                <li><a href="#" class="link">Company</a></li>
            </ul>
        </div>
        
        <div class="row5"><strong>{{ session.name}}  </strong> </div> 
        <div class="nav-button">
            <button class="btn white-btn"> <a href="{{ url_for('logout') }}"> Logout</a></button>
        </div>   
    </nav>
    
    <div class="wrap">
        <div class="date">
            <h2> February 18, 2022 </h2> 
        </div>
        <div class="intro">
            <h2> Introducing ChatPDF </h2> 
        </div>

        <div class="bar">  
            <ui>
                <li><a href="#">Get Premium</a></li>
                <li><a href="#">Download ChatPDF desktop</a></li>
                <li><a href="#">Learn about ChatPDF</a></li>
            </ui>
        </div>

        <div class="welcomepara"> 
            <p>We've developed a platform called ChatPDF that allows users to interact with their PDF documents in a conversational way. By simply uploading a PDF, users can ask questions about its content and receive detailed answers, making document interaction intuitive and efficient. </p>
            <p>ChatPDF is a sibling model to InstructGPT, which is trained to follow an instruction in a prompt and provide a detailed response. </p>
            <P>We are excited to introduce ChatPDF to get users’ feedback and learn about its strengths and weaknesses. During the research preview, usage of ChatPDF is free.  </P>
        </div>
    <div class="try">
        <h1>Try ChatPDF</h1>
        
        <div class="choose">
            <form action="/" method="post" enctype="multipart/form-data">
            <input type="file"  class="customfile" name="pdf_file" required>
           <input type="submit" value="Upload">
        </form> 
    </div>
    </div>
        </div>
        <footer>
            <div class="contain">
                <div class="row">
                    <div class="footer-col">
                        <h4>Our Research</h4>
                        <ul>
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Index</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>ChatPDF</h4>
                        <ul>
                            <li><a href="#">For everyone</a></li>
                            <li><a href="#">For Teams</a></li>
                            <li><a href="#">For Enterprises</a></li>
                            <li><a href="#">Download</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Safety Overview</h4>
                        <ul>
                            <li><a href="#">Safety Overview</a></li>
                            <li><a href="#">Safety Standards</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Our Charter</a></li>
                            <li><a href="#">Security</a></li>
                            <li><a href="#">Residency</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Terms & policies</h4>
                        <ul>
                            <li><a href="#"> Terms of use</a></li>
                            <li><a href="#"> Privacy Policy</a></li>
                            <li><a href="#">Brand guidelines</a></li>
                            <li><a href="#">Other policies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-foot">
                <div class="footerBottom">
                    <p> ChatPDF &copy;2024</p>
                </div>
                <div class="socialIcons">
                    <a href=""><i class="fa-brands fa-x"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    <a href=""><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
        </footer>
</body>
</html>