<!DOCTYPE html>
<html>
<head>
    <title>Chat about PDF</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->
</head>
<body class="chat-page">
    <div class="log">
    <h1>ChatPDF</h1>
    </div>
    <div class="question">
    <form method="post">
        <textarea id="message" placeholder="Message ChatPDF" required></textarea>
        <button type="submit">Send</button>
    </form>
    </div>
    <div id="chatHistory">
        {% for item in history %}
            <div class="{{ item.role }}">
                <strong>{{ item.timestamp }} {{ item.role|capitalize }}:</strong>
                <p>{{ item.text }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="/">Upload Another PDF</a>

    <script>
        const textarea = document.getElementById('message');

        textarea.addEventListener('input', function() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        });
    </script>
</body>
</html>
